#switcher-panel{
    position: fixed;
    width: 200px;
    height: 650px;
    top: 100px;
    background:#fff;
    border: 1px solid #CCC;
    z-index: 999 !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a.switcher-button{
    
    position: absolute;
    width: 50px;
    height: 50px;
    background:#fff;
    color: #000000;
    right: -50px;
    top: 24px;
    text-align: center;
    font-size: 23px;
    line-height: 47px;
    cursor: pointer;
    border: 1px solid #CCC;
    border-left:hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.switcher-title{
    width: 160px;
    margin: 20px auto;
}
.switcher-title h4{
    text-transform: uppercase;
    font-weight: 700;
}

.switcher-colors{
    margin: 0 auto;
    width: 160px;
    padding-bottom: 30px;
}

a.s-btn{
        width: 33px;
        height: 33px;
        display: block;
        border:1px solid #eeeeee;
        float:left;
        margin-top: 5px;
        margin-left: 5px;
}

    .color-1{
        background: #00B2B2;
    }
    .color-2{
        background: #3498DB;
    }
    .color-3{
        background: #8E44AD;
    }
    .color-4{
        background: #C0392B;
    }
    .color-5{
        background: #DB0A5B;
    }
    .color-6{
        background: #27AE60;
    }
    .color-7{
        background: #F39C12;
    }
    .color-8{
        background: #D35400;
    }

.switcher-options{
    width: 160px;
    margin:auto !important;
}

.switcher-options  a{
        display: block;
        text-decoration: none;
        padding:3px 0px;
}

.switcher-options  a.active{
    color:#111111;
}

.switcher-options a:hover{
    color:#222222;
}

.layout a{    
    float:left;
    margin-right: 20px;
    margin-bottom: 8px;
}

.close-panel{
    left:-200px;
}

.open-panel{
    left:-1px;
}

@media (max-width:767px){
    #switcher-panel{
        display:none;
    }
}