
/* Color #D35400 */
#header .navbar ul.nav li a:hover {
  color:#D35400;
}

#header .navbar ul.nav li.active a{
	color:#D35400;
}

#header .navbar .navbar-toggle:hover .icon-bar{
	background:#D35400;
}

.eg-button{
	background:  #D35400;
	border:1px solid #D35400;
}
.eg-button:hover{
	background:transparent;
	color:#D35400;
	border-color:#D35400;
}

.eg-button:focus {
  	background:transparent;
	color:#D35400;
	border-color:#D35400;
}
.eg-button:active {
  	background:transparent;
	color:#D35400;
	border-color:#D35400;
}

.menu-button{
	background:#D35400;
	border-color:#D35400;
}
.menu-button:hover{
	background:transparent;
	border-color:#D35400;
	color:#D35400;
}

.menu-button:focus {
  background: transparent;
  color: #D35400;
}
.menu-button:active {
  background: transparent;
  color: #D35400;
}


#home .overlay a.down:hover{
	color:#D35400;
}

#features .features {
 background: rgba(211,84,0,0.65);
}


#brief ul.brief-list li i{
	color:#D35400;
}

#brief .phone-navigation .btn {
  background: #D35400;
}

#statistics .counter-line{
	background:#D35400;
}



#services .service-box .service-icon i{
	color:#D35400;
}

.bg-color{
		background:#D35400;
}

#pricing .pricing-box .pricing-list li i{
	color:#D35400;
}

#extra ul.eg-tab li a{
	background:#D35400;
}

#extra ul.eg-tab li a:hover{
	color:#D35400;
}
#extra ul.eg-tab li.active a{
	color:#D35400;
}

#extra #accordion .panel .panel-heading .panel-title a i{
	color:#D35400;
}

#footer ul.social-icons li a:hover{
	color:#D35400;
}

.back-to-top{
	background:#D35400;
	border-color:#D35400;
}

.back-to-top:hover{
	color:#D35400;
}
.back-to-top:hover i{
	color:#D35400;
}