/*
	Author: Orhan İNCE (syntaxe)
	Template: Eg App Landing Page
	Version: 1.0
	
*/
/* 
   TABLE OF CONTENTS

   	1. Colors
	2. Mixins and Clearfix
	3. Basic Styles
	4. Typography
	5. Header 
	6. Home 
	7. Features 
	8. Brief 
	9. Video 
   	10. Showcase 
   	11. Statistics
   	12. Testimonials
   	13. Services
   	14. Pricing
   	15. Extra
   	16. Download
   	17. Contact
   	18. Footer

   ========================================================================== */
/* 
   Colors
   ========================================================================== */
/* 
   Mixins and Clearfix
   ========================================================================== */
/*  Transition  */
/* Border Radius */
/* Background Size */
/* Box Shadow */
/* Placeholder */
/* Clearfix */
/* 
   Basic Styles
   ========================================================================== */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
html {
  -webkit-font-smoothing: antialiased;
  font-size: 100% !important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #ffffff;
  font-size: 16px;
  line-height: 28px;
  color: #222222;
}
ul,
ol {
  padding-left: 0 !important;
}
ul li {
  list-style-type: none;
}
.center-phone {
  display: block;
  margin: auto !important;
}
.white {
  color: #ffffff;
}
.center {
  text-align: center;
}
.title {
  margin-bottom: 72px;
}
.no-padding {
  padding: 0 !important;
}
.left {
  text-align: left !important;
}
.off {
  text-decoration: line-through;
}
.bg-color {
  background: #00b2b2;
}
.eg-button {
  background: #00b2b2;
  border: 1px solid #00b2b2;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  padding: 16px 25px 16px 25px;
  min-width: 200px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.eg-button:hover {
  background: transparent;
  color: #00b2b2;
  border-color: #00b2b2;
}
.eg-button:focus {
  background: transparent;
  color: #00b2b2;
}
.eg-button:active {
  background: transparent;
  color: #00b2b2;
}
.menu-button {
  display: inline-block;
  background: #00b2b2;
  border: 1px solid #00b2b2;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  padding: 10px 13px 10px 13px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 40px;
  margin-top: 7px;
}
.menu-button:hover {
  background: transparent;
  color: #00b2b2;
  border-color: #00b2b2;
}
.menu-button:focus {
  background: transparent;
  color: #00b2b2;
}
.menu-button:active {
  background: transparent;
  color: #00b2b2;
}
.contact-message p {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #222222;
}
.subscribe-message {
  margin-top: 20px;
}
.subscribe-message p {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
.mask {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000;
}
#loader {
  background: url(../images/preloader.gif) center center no-repeat;
  height: 50px;
  width: 50px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin: -25px 0 0 -25px;
}
/* 
   Typography
   ========================================================================== */
h1 {
  font-size: 57px;
  line-height: 70px;
  font-weight: 300;
}
h2 {
  color: #222222;
  font-size: 42px;
  line-height: 51px;
  font-weight: 300;
}
h3 {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  color: #222222;
}
h5 {
  color: #222222;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}
.sub-heading {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #555555;
  font-weight: 300;
}
.home-title {
  color: #222222;
}
.home-desc {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 10px;
}
/* ==========================================================================
   Header Section
   ========================================================================== */
section {
  padding: 100px 0px;
}
#header .navbar {
  background: #ffffff;
  padding: 18px 0px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 0px;
  margin-top: -120px;
  border-bottom: 2px solid #eeeeee;
}
#header .navbar .nav-logo {
  height: 57px;
  margin-top: -16px;
}
#header .navbar .nav-logo img {
  display: block;
}
#header .navbar ul.nav {
  margin-top: 4px;
  display: inline-block;
}
#header .navbar ul.nav li a {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #222222;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header .navbar ul.nav li a:hover {
  color: #00b2b2;
}
#header .navbar ul.nav li.active a {
  color: #00b2b2;
  background: transparent;
}
#header .navbar .navbar-toggle {
  background: transparent;
  border: none;
}
#header .navbar .navbar-toggle:hover .icon-bar {
  background: #00b2b2;
}
#header .navbar .navbar-toggle .icon-bar {
  background: #222222;
}
#header .sticky {
  margin-top: 0px;
  opacity: 1;
}
/* ==========================================================================
   Home Section
   ========================================================================== */
#home .overlay {
  padding-top: 45px;
  background: #eeeeee;
  position: relative;
}
#home .overlay .home-content .home-title {
  margin-top: 140px;
}
#home .overlay .home-content .home-buttons {
  margin-top: 22px;
}
#home .overlay .home-content .home-buttons .btn {
  margin-right: 10px;
}
#home .overlay .home-content .home-phone {
  display: block;
  width: 573px;
  margin: auto !important;
}
#home .overlay .home-content .home-phone img {
  width: 100%;
}
#home .overlay a.down {
  position: absolute;
  display: inline-block;
  text-align: center;
  color: #222222;
  left: 49%;
  bottom: 48px;
}
#home .overlay a.down:hover {
  color: #00b2b2;
}
/* ==========================================================================
   Features Section
   ========================================================================== */
#features {
  background: #ffffff;
}
#features .features-phone {
  position: relative;
  top: 0px;
}
#features .features-phone img {
  display: block;
  margin: 0 auto;
}
#features .features {
  margin-top: -370px;
  background: rgba(0, 178, 178, 0.65);
  height: 100%;
  text-align: center;
  position: relative;
  top: 100px;
  padding: 45px 0px;
}
#features .features .features-box {
  padding: 0px 0px;
}
#features .features .features-box .features-icon {
  text-align: center;
}
#features .features .features-box .features-icon i {
  font-size: 72px;
  line-height: 1;
}
#features .features .owl-controls span {
  background: #212225;
}
#features .features .owl-controls .active span {
  background: #222222;
}
/* ==========================================================================
   Brief Section
   ========================================================================== */
#brief {
  background: #eeeeee;
}
#brief .phone-slider {
  position: relative;
  background: url(../images/brief-phone.png) no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  display: block;
  width: 323px;
  height: 659px;
  -webkit-background-size: 100%;
  background-size: 100%;
}
#brief .phone-slider #owl-slider {
  position: relative;
  width: 300px;
  padding: 80px 0px 0px 24px;
}
#brief .phone-slider #owl-slider .item {
  display: block;
}
#brief .phone-slider #owl-slider .item img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}
#brief .phone-navigation .btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #00b2b2;
  color: #ffffff;
  padding: 0;
  margin-top: -60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#brief .phone-navigation .btn:hover {
  background: #222222;
}
#brief .phone-navigation .btn i {
  font-size: 45px;
  line-height: 54px;
  padding-top: 2px;
  vertical-align: middle;
}
#brief .phone-navigation .prev {
  position: absolute;
  top: 50%;
  left: 50px;
}
#brief .phone-navigation .next {
  position: absolute;
  top: 50%;
  right: 50px;
}
#brief ul.brief-list {
  margin-top: 40px;
  text-align: left;
}
#brief ul.brief-list li {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}
#brief ul.brief-list li i {
  vertical-align: middle;
  color: #00b2b2;
}
/* ==========================================================================
   Video Section
   ========================================================================== */
#video {
  background: #ffffff;
}
#video .title {
  margin-bottom: 50px;
  margin-top: -15px;
}
/* ==========================================================================
   Showcase Section
   ========================================================================== */
#showcase {
  background: #eeeeee;
}
#showcase #shots .item {
  margin: 13px;
}
#showcase #shots .item img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#showcase .owl-controls .active span {
  background: #222222;
}
/* ==========================================================================
   Statistics Section
   ========================================================================== */
#statistics {
  background: #ffffff;
}
#statistics .counter {
  font-size: 40px;
  line-height: 48px;
  color: #222222;
  text-align: center;
  font-weight: 700;
}
#statistics .count {
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #212225;
}
#statistics .counter-line {
  display: block;
  margin: 0 auto;
  width: 127px;
  height: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #00b2b2;
}
/* ==========================================================================
   Testimonials Section
   ========================================================================== */
#testimonials {
  background: url(../images/backgrounds/testimonials-bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
#testimonials .overlay {
  width: 100%;
  height: auto;
  background: rgba(34, 34, 34, 0.65);
  padding: 100px 0px;
}
#testimonials .overlay #feedbacks .preview {
  max-width: 750px;
  margin: auto;
}
#testimonials .overlay #feedbacks .preview .preview-image {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}
#testimonials .overlay #feedbacks .preview .preview-image img {
  border: 2px solid #ffffff;
}
#testimonials .overlay #feedbacks .preview p {
  color: #ffffff;
  text-align: center;
}
#testimonials .overlay #feedbacks .preview .name {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}
#testimonials .overlay #feedbacks .owl-controls span {
  background: #ffffff;
}
#testimonials .overlay #feedbacks .owl-controls .active span {
  background: #ffffff;
}
/* ==========================================================================
   Services Section
   ========================================================================== */
#services {
  background: #eeeeee;
}
#services .service-box {
  background: #ffffff;
  border-bottom: 3px solid #dedede;
  padding: 30px 10px;
  margin-bottom: 15px;
}
#services .service-box .service-icon {
  text-align: center;
  padding-top: 30px;
}
#services .service-box .service-icon i {
  color: #00b2b2;
}
#services .service-box .service-title h3 {
  text-align: center;
}
#services .service-box .service-text p {
  padding: 8px;
  text-align: center;
}
/* ==========================================================================
   Pricing Section
   ========================================================================== */
#pricing {
  background: #ffffff;
}
#pricing .pricing-box {
  background: #eeeeee;
  margin-bottom: 15px;
}
#pricing .pricing-box .pricing-header {
  display: block;
  padding-bottom: 20px;
}
#pricing .pricing-box .pricing-header:before,
#pricing .pricing-box .pricing-header:after {
  content: " ";
  display: table;
}
#pricing .pricing-box .pricing-header:after {
  clear: both;
}
#pricing .pricing-box .pricing-header .pricing-heading {
  text-align: right;
  float: right;
  margin-right: 20px;
}
#pricing .pricing-box .pricing-header .pricing-heading h3 {
  float: right;
  font-weight: 300;
  text-transform: uppercase;
}
#pricing .pricing-box .pricing-header .pricing-heading .price .money {
  font-size: 60px;
  line-height: 72px;
  padding-top: 36px;
  font-weight: 700;
}
#pricing .pricing-box .pricing-header .pricing-heading .price .money span.dolar {
  padding-top: -20px !important;
  color: inherit;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: -30px;
  font-weight: 400;
}
#pricing .pricing-box .pricing-list li {
  border-bottom: 1px solid #dddddd;
  margin: 15px 0px;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 27px;
}
#pricing .pricing-box .pricing-list li i {
  vertical-align: middle;
  color: #00b2b2;
  margin-right: 10px;
  text-align: left;
  margin-left: 20px;
  margin-top: -5px;
}
#pricing .pricing-box .pricing-list li:last-child {
  border: none;
  padding-bottom: 10px;
}
/* ==========================================================================
   Extra Section
   ========================================================================== */
#extra {
  background: #eeeeee;
}
#extra ul.eg-tab {
  border: none;
  display: table;
  margin: 0 auto 60px;
}
#extra ul.eg-tab li {
  margin-right: 7px;
  margin: auto;
}
#extra ul.eg-tab li a {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #00b2b2;
  min-width: 200px;
  border: none;
  text-transform: uppercase;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#extra ul.eg-tab li a:hover {
  background: #ffffff;
  color: #00b2b2;
}
#extra ul.eg-tab li a i {
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}
#extra ul.eg-tab li.active a {
  background: #ffffff;
  color: #00b2b2;
}
#extra .tab-content .eg-tab-title h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}
#extra #accordion .panel {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#extra #accordion .panel .panel-heading {
  background: transparent;
  border: none;
}
#extra #accordion .panel .panel-heading .panel-title {
  background: transparent;
}
#extra #accordion .panel .panel-heading .panel-title a {
  font-size: 18px;
  line-height: 33px;
  text-decoration: none;
  color: #222222;
}
#extra #accordion .panel .panel-heading .panel-title a i {
  vertical-align: middle;
  color: #00b2b2;
  margin-right: 10px;
  margin-top: -5px;
}
#extra #accordion .panel .panel-body {
  border: none;
}
/* ==========================================================================
   Download Section
   ========================================================================== */
#download {
  background: url(../images/backgrounds/download_bg.jpg) no-repeat center fixed;
  background-position: 30% 90%;
  -webkit-background-size: cover;
  background-size: cover;
}
#download .overlay {
  width: 100%;
  height: auto;
  background: rgba(34, 34, 34, 0.65);
  padding: 100px 0px;
  text-align: center;
}
#download .overlay .title p {
  color: #ffffff;
}
#download .overlay .download-field {
  text-align: center;
  margin-bottom: 60px;
}
#download .overlay .download-field .download-buttons .dwn-btn {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
}
#download .overlay .download-field .download-buttons .dwn-btn i {
  vertical-align: middle;
  line-height: 1;
  margin-top: -5px;
}
#download .overlay .subscription-text {
  margin-bottom: 50px;
}
#download .overlay .form {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
#download .overlay .form #subscribe-form .subscribe-input {
  width: 320px;
  height: 52px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #212225;
  border: 1px solid #ffffff;
}
#download .overlay .form #subscribe-form ::-webkit-input-placeholder {
  color: #212225;
}
#download .overlay .form #subscribe-form ::-moz-placeholder {
  color: #212225;
}
#download .overlay .form #subscribe-form :-ms-input-placeholder {
  color: #212225;
}
#download .overlay .form #subscribe-form .eg-button {
  margin-top: 0px;
  min-width: 120px !important;
  margin-left: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* ==========================================================================
   Contact Section
   ========================================================================== */
#contact {
  background: #ffffff;
}
#contact #contact-form .input-field {
  border: 1px solid #cccccc;
  color: #212225;
  height: 50px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contact #contact-form .text-area {
  border: 1px solid #cccccc;
  color: #212225;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#contact #contact-form ::-webkit-input-placeholder {
  color: #212225;
}
#contact #contact-form ::-moz-placeholder {
  color: #212225;
}
#contact #contact-form :-ms-input-placeholder {
  color: #212225;
}
#contact #contact-form .eg-button {
  margin: 0 auto;
  display: block;
}
/* ==========================================================================
   Footer Section
   ========================================================================== */
#footer {
  background: #eeeeee;
  text-align: center;
  padding: 30px 0px;
}
#footer p.copyright {
  padding-top: 45px;
}
#footer ul.social-icons {
  padding-bottom: 20px;
}
#footer ul.social-icons li {
  display: inline-block;
  margin: 7px;
}
#footer ul.social-icons li a {
  display: block;
  font-size: 24px;
  color: #222222;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#footer ul.social-icons li a:hover {
  color: #00b2b2;
}
.back-to-top {
  display: block;
  text-align: center;
  border: 1px solid #00b2b2;
  background: #00b2b2;
  color: #ffffff;
  display: none;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  line-height: 40px;
  font-size: 12px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 1;
  cursor: pointer;
  z-index: 9999;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.back-to-top:hover {
  opacity: 1;
  background: none;
  color: #00b2b2;
}
.back-to-top:hover i {
  color: #00b2b2;
}
.back-to-top i {
  color: #ffffff;
}
@media (max-width: 1024px) {
  #home .overlay .home-content .home-phone {
    max-width: 530px;
  }
  #home .overlay a.down {
    display: none;
  }
}
@media (max-width: 991px) {
  #header .navbar .nav-logo {
    display: none;
  }
  #header .navbar ul.nav li a {
    font-size: 12px;
  }
  #home .overlay {
    text-align: center;
  }
  #home .overlay .home-content .home-buttons .btn {
    margin: 5px 3px;
  }
  #home .overlay .home-content .home-phone {
    max-width: 500px;
    padding-top: 70px;
  }
  #features .features-phone {
    max-width: 600px;
    display: block;
    margin: 50px auto;
  }
  #brief .brief-list {
    margin-bottom: 60px;
  }
  #video {
    text-align: center;
  }
  #video .title {
    margin-top: 50px;
  }
  #video .title .sub-heading {
    text-align: center !important;
  }
  #extra .tab-phone {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  #header .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 15px;
  }
  #header .navbar {
    background: rgba(255, 255, 255, 0.9);
  }
  #header .navbar .nav-logo {
    display: block;
  }
  #header .navbar .navbar-toggle {
    margin-top: 10px;
    right: -50px;
  }
  #header .navbar ul li a {
    font-size: 12px;
    line-height: 24px;
  }
  #home .overlay .home-content .home-title {
    font-size: 45px;
    line-height: 54px;
  }
  #extra ul.eg-tab {
    width: 100%;
  }
  #extra ul.eg-tab li {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
  #extra ul.eg-tab li a {
    width: 100%;
  }
  #testimonials,
  #download {
    background-attachment: inherit !important;
  }
  #download .form #subscribe-form .subscribe-input {
    display: block;
    margin: 0 auto 20px;
    width: 80% !important;
  }
}
@media (min-width: 480px) and (max-width: 640px) {
  #home .overlay {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #header .navbar .menu-button {
    margin-top: 4px;
  }
  #home .overlay .home-content {
    margin-bottom: 80px;
  }
  #home .overlay .home-content .home-title {
    margin-top: 60px;
    font-size: 36px;
    line-height: 45px;
  }
  #home .overlay .home-content .home-phone {
    display: none;
  }
  #features .features-phone {
    display: none;
  }
  #features .features {
    margin-top: -50px;
    top: 100px;
  }
  #brief .phone-slider {
    width: 280px;
  }
  #brief .phone-slider #owl-slider {
    width: 265px;
    padding-top: 100px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #brief .phone-slider #owl-slider .item img {
    width: 100%;
  }
  #brief ul.brief-list {
    margin-bottom: 50px;
  }
  .back-to-top {
    display: none !important;
  }
}
@media (max-width: 320px) {
  #brief .phone-navigation {
    display: none;
  }
}
