
	
	.col-md-2{
		margin-top: 40px;

	}
	#nav-list{
		position: fixed;
	}
	#nav-list ul li{
		padding:5px 0px;
	}
	.col-md-12{
		text-align:left;
	}
	
	.content ul li {
		padding:5px 0px;
	}
