
/* Color #27AE60 */
#header .navbar ul.nav li a:hover {
  color:#27AE60;
}

#header .navbar ul.nav li.active a{
	color:#27AE60;
}

#header .navbar .navbar-toggle:hover .icon-bar{
	background:#27AE60;
}

.eg-button{
	background:  #27AE60;
	border:1px solid #27AE60;
}
.eg-button:hover{
	background:transparent;
	color:#27AE60;
	border-color:#27AE60;
}

.eg-button:focus {
  	background:transparent;
	color:#27AE60;
	border-color:#27AE60;
}
.eg-button:active {
  	background:transparent;
	color:#27AE60;
	border-color:#27AE60;
}

.menu-button{
	background:#27AE60;
	border-color:#27AE60;
}
.menu-button:hover{
	background:transparent;
	border-color:#27AE60;
	color:#27AE60;
}

.menu-button:focus {
  background: transparent;
  color: #27AE60;
}
.menu-button:active {
  background: transparent;
  color: #27AE60;
}

#home .overlay a.down:hover{
	color:#27AE60;
}

#features .features {
 background: rgba(39,174,96,0.65);
}


#brief ul.brief-list li i{
	color:#27AE60;
}

#brief .phone-navigation .btn {
  background: #27AE60;
}

#statistics .counter-line{
	background:#27AE60;
}


#services .service-box .service-icon i{
	color:#27AE60;
}

.bg-color{
		background:#27AE60;
}

#pricing .pricing-box .pricing-list li i{
	color:#27AE60;
}

#extra ul.eg-tab li a{
	background:#27AE60;
}

#extra ul.eg-tab li a:hover{
	color:#27AE60;
}
#extra ul.eg-tab li.active a{
	color:#27AE60;
}

#extra #accordion .panel .panel-heading .panel-title a i{
	color:#27AE60;
}

#footer ul.social-icons li a:hover{
	color:#27AE60;
}

.back-to-top{
	background:#27AE60;
	border-color:#27AE60;
}

.back-to-top:hover{
	color:#27AE60;
}
.back-to-top:hover i{
	color:#27AE60;
}