
/* Color #DB0A5B */
#header .navbar ul.nav li a:hover {
  color:#DB0A5B;
}

#header .navbar ul.nav li.active a{
	color:#DB0A5B;
}


#header .navbar .navbar-toggle:hover .icon-bar{
	background:#DB0A5B;
}

.eg-button{
	background:  #DB0A5B;
	border:1px solid #DB0A5B;
}
.eg-button:hover{
	background:transparent;
	color:#DB0A5B;
	border-color:#DB0A5B;
}

.eg-button:focus {
  	background:transparent;
	color:#DB0A5B;
	border-color:#DB0A5B;
}
.eg-button:active {
  	background:transparent;
	color:#DB0A5B;
	border-color:#DB0A5B;
}

.menu-button{
	background:#DB0A5B;
	border-color:#DB0A5B;
}
.menu-button:hover{
	background:transparent;
	border-color:#DB0A5B;
	color:#DB0A5B;
}

.menu-button:focus {
  background: transparent;
  color: #DB0A5B;
}
.menu-button:active {
  background: transparent;
  color: #DB0A5B;
}

.color-button{
	background:transparent !important;
	color:#fff;
	border:1px solid #fff;
}
.color-button:hover{
	background:#fff !important;
	color:#DB0A5B !important;
	border:1px solid #fff !important;
}
.color-button:focus{
	background:#fff !important;
	color:#DB0A5B !important;
	border:1px solid #fff !important;
}

.color-button:active{
	background:#fff !important;
	color:#DB0A5B !important;
	border:1px solid #fff !important;
}

#home .overlay{
	background:rgba(219,10,91,.55);
}


#home .overlay a.down:hover{
	color:#222222;
}

#features .features {
 background: rgba(219,10,91,0.65);
}


#brief ul.brief-list li i{
	color:#DB0A5B;
}

#brief .phone-navigation .btn {
  background: #DB0A5B;
}

#statistics .counter-line{
	background:#DB0A5B;
}


#services .service-box .service-icon i{
	color:#DB0A5B;
}

#extra ul.eg-tab li a{
	background:#DB0A5B;
}

#extra ul.eg-tab li a:hover{
	color:#DB0A5B;
}
#extra ul.eg-tab li.active a{
	color:#DB0A5B;
}

#extra #accordion .panel .panel-heading .panel-title a i{
	color:#DB0A5B;
}

.bg-color{
		background:#DB0A5B;
}

#pricing .pricing-box .pricing-list li i{
	color:#DB0A5B;
}

#footer ul.social-icons li a:hover{
	color:#DB0A5B;
}

.back-to-top{
	background:#DB0A5B;
	border-color:#DB0A5B;
}

.back-to-top:hover{
	color:#DB0A5B;
}
.back-to-top:hover i{
	color:#DB0A5B;
}