


/*
	Author: Orhan İNCE (syntaxe)
	Template: Eg App Landing Page
	Version: 1.0
	
*/


/* 
   TABLE OF CONTENTS

   	1. Colors
	2. Mixins and Clearfix
	3. Basic Styles
	4. Typography
	5. Header 
	6. Home 
	7. Features 
	8. Brief 
	9. Video 
   	10. Showcase 
   	11. Statistics
   	12. Testimonials
   	13. Services
   	14. Pricing
   	15. Extra
   	16. Download
   	17. Contact
   	18. Footer

   ========================================================================== */




/* 
   Colors
   ========================================================================== */
	
	
	@color-1 : #00B2B2;
	@color-2 : #222222;
	@color-3:  #212225;
	@color-4 : #ffffff;
	@color-5:  #555555;
	@color-6:  #dedede;
	@color-7 : #eeeeee;
	@color-8:  #cccccc;
	@color-9:  #dddddd;
	@color-10: #999999;

/* 
   Mixins and Clearfix
   ========================================================================== */

	/*  Transition  */
	.transition (@prop: all, @time: 1s, @ease: ease) {
	    -webkit-transition: @prop @time @ease;
	    -moz-transition: @prop @time @ease;
	    -o-transition: @prop @time @ease;
	    -ms-transition: @prop @time @ease;
	    transition: @prop @time @ease;
	}

	/* Border Radius */

	.round (@radius) {
		-webkit-border-radius: @radius;
		-moz-border-radius: @radius;
		-ms-border-radius: @radius;
		-o-border-radius: @radius;
		border-radius: @radius;
	}

	/* Background Size */

	.cover (@argument) {
	    -webkit-background-size: @argument;
	    background-size: @argument;
	}

	/* Box Shadow */

	.box-shadow (@string) {
	    -webkit-box-shadow: @string;
	    -moz-box-shadow:    @string;
	    box-shadow:         @string;
	}

	.box-sizing (@argument: border-box) {
	-webkit-box-sizing: @argument;
	-moz-box-sizing:    @argument;
	box-sizing:         @argument;
	}

	/* Placeholder */

	.placeholder(@arguments) {
    ::-webkit-input-placeholder {color:@arguments}
    ::-moz-placeholder {color:@arguments}
    :-ms-input-placeholder {color:@arguments}
	}

	/* Clearfix */
	.clearfix() {
  			&:before,
  			&:after {
    		content: " ";
    		display: table;
  			}
  			&:after {
    		clear: both;
  			}
	}

/* 
   Basic Styles
   ========================================================================== */

	html,body{
		margin:0;
    	padding:0;
    	width:100%;
    	overflow-x: hidden;
	}


	html {
		-webkit-font-smoothing: antialiased;
		font-size: 100% !important;
	}

	body{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		background: @color-4;
		font-size: 16px;
		line-height: 28px;	
		color:@color-2;
	}

	ul, ol {
    	padding-left: 0 !important;
	}

	ul li{
		list-style-type: none;
	}

	.center-phone{
		display:block;
		margin:auto !important;
	}

	.white{
		color:@color-4;
	}

	.center{
		text-align: center;
	}

	.title{
		 margin-bottom: 72px;
	}
	.no-padding{
		padding: 0 !important;
	}

	.left{
		text-align:left !important;
	}
	.off{
		text-decoration: line-through;
	}

	.bg-color{
		background:@color-1;
	}


	.eg-button{
		background:@color-1;
		border:1px solid @color-1;
		font-size: 14px;
		.round(3px);
		color:@color-4;
		padding: 16px 25px 16px 25px;
		min-width:200px;
		text-transform: uppercase;
		.transition(all,.3s,ease);
		&:hover{
			background:transparent;
			color:@color-1;
			border-color:@color-1;
		}
		&:focus{
			background: transparent;
			color:@color-1;
		}
		&:active{
			background: transparent;
			color: @color-1;
		}
	}

	.color-button{
		background:transparent;
		border:1px solid @color-4;
		&:hover{
			background:@color-4;
			border:1px solid @color-4;
		}
		&:focus{
			background:@color-4;
			border:1px solid @color-4;
		}
		&:active{
			background:@color-4;
			border:1px solid @color-4;
		}
	}

	.menu-button{
			display:inline-block;
			background:@color-1;
			border:1px solid @color-1;
			font-size: 12px;
			line-height: 21px;
			font-weight: 400;
			.round(2px);
			color:@color-4;
			padding: 10px 13px 10px 13px;
			text-transform: uppercase;
			.transition(all,.3s,ease);
			margin-left:40px;
			margin-top:7px;
			&:hover{
				background:transparent;
				color:@color-1;
				border-color:@color-1;

			}
			&:focus{
				background: transparent;
				color:@color-1;
			}
			&:active{
				background: transparent;
				color: @color-1;
			}
	}
	
	.contact-message {
		p{
			font-size: 18px;
			line-height: 27px;
			text-align: center;
			color:@color-2;
		}
	}

	.subscribe-message{
		margin-top: 20px;
		p{
			font-size: 18px;
			line-height: 27px;
			text-align: center;
			color:@color-4;
		}
	}

	.mask {
		background-color: @color-4;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 100000;
	}
	#loader {
		background: url(../images/preloader.gif) center center no-repeat;
		height: 50px;
		width: 50px;
		left: 50%;
		top: 50%;
		position: absolute;
		margin: -25px 0 0 -25px;
	}

/* 
   Typography
   ========================================================================== */

	h1{
		font-size:57px;
		line-height: 70px;
		font-weight: 300;
	}

	h2{
		color:@color-2;
		font-size: 42px;
		line-height: 51px;
		font-weight: 300;
	}

	h3{
		font-size: 22px;
		line-height: 33px;
		font-weight: 400;
		color:@color-2;
	}
	h5{
		color:@color-4;
		font-size: 20px;
		font-weight: 300;
		line-height: 27px;
	}

	// p.sub-heading
	.sub-heading{
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		color:@color-5;
		font-weight: 300;
	}

	
	.home-title{
		color:@color-4;
	}

	.home-desc{
		font-size: 22px;
		line-height: 30px;
		font-weight: 300;
		padding-top: 10px;
	}



	
/* ==========================================================================
   Header Section
   ========================================================================== */

section{
	padding:100px 0px;
}

#header{
	.navbar{
		background:@color-4;
		padding:18px 0px;
		opacity:0;
		.transition(all,.5s,ease);
		margin-bottom: 0px;
		margin-top: -120px;
		border-bottom: 2px solid @color-7;
		
		.nav-logo{
			height:57px;
			margin-top:-16px;
			img{
				display:block;
			}
		}

		ul.nav{
			margin-top: 4px;
			display:inline-block;

			li{
				a{
					font-size: 14px;
					line-height: 21px;
					text-transform: uppercase;
					color:@color-2;
					.transition(all,.3s,ease);
					&:hover{
						color:@color-1;
					}
				}
			}
			li.active{
				a{
					color:@color-1;
					background: transparent;
					
				}
			}
		}
			

		.navbar-toggle{
			background: transparent;
			border:none;
			&:hover{
				.icon-bar{
					background:@color-1;
				}
			}
			.icon-bar{
				background: @color-2;
			}
		}
	}

	
	.sticky{
		margin-top: 0px;
		opacity: 1;
	}
	
}

/* ==========================================================================
   Home Section
   ========================================================================== */
#home{

	.overlay{
		padding-top: 45px;
		background:rgba(34,34,34,.55);
       .home-logo{
       	display: block;
       	width: 82px;
       	margin:auto;
       }
       .home-content{
  	       margin-top:150px;	
		   text-align: center;
	   .home-buttons{
		   margin-top: 22px;
		  .btn{
			 margin:10px 5px;
		   }
	    }
       } 
  
  
      a.down{
  	    display:block;
  	    text-align: center;
  	    color:@color-4;
		margin:120px auto 60px;
  	       &:hover{
  		       color:@color-1;
  	       }
        }
    }
}



/* ==========================================================================
   Features Section
   ========================================================================== */

#features{
	background:@color-4;
	.features-phone{
			position: relative;
			top:0px;
			img{
				display: block;
				margin: 0 auto;
			}

	}

	.features{
		margin-top: -370px;
		background:rgba(0,178,178,.65);
		height:100%;
		text-align: center;
		position: relative;
		top:100px;
		padding: 45px 0px;
	.features-box{
		padding: 0px 0px;
		.features-icon{
			text-align: center;
			i{
				font-size: 72px;
				line-height: 1;
			}
		}
	}

	.owl-controls{

				span{
					background: @color-3;
				}

				.active{
					span{
						background:@color-2;
					}
				}
			}
	}

}



/* ==========================================================================
   Brief Section
   ========================================================================== */

#brief{
	background: @color-7;
	

.phone-slider{
	position: relative;
	background:url(../images/brief-phone.png) no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
	display:block;
	width: 323px;
	height: 659px;
	.cover(100%);
	#owl-slider{
		position: relative;
		width:300px;
		padding: 80px 0px 0px 24px;
		.item{
			display: block;
			img{
				.round(3px);
				width:100%;
				
			}
		}
		
	}

}
.phone-navigation{
		
		.btn{
			display: inline-block;
			width: 60px;
			height: 60px;
			background: @color-1;
			color:@color-4;
			padding: 0;
			margin-top: -60px;
			.round(4px);
			&:hover{
				background: @color-2;
			}

			i{
				font-size: 45px;
				line-height:54px;
				padding-top: 2px;
				vertical-align: middle;
			}

		}

		.prev{
			position: absolute;
			top:50%;
			left:50px;
		}
		.next{
			position: absolute;
			top:50%;
			right:50px;


		}
	}

	ul.brief-list{
		margin-top: 40px;
		text-align:left;
		li{
			font-size: 16px;
			line-height: 28px;
			font-weight: 300;
			margin-bottom: 20px;
			i{	
				vertical-align: middle;
				color:@color-1;
				
				

			}
		}
	}
}


/* ==========================================================================
   Video Section
   ========================================================================== */
#video{
	background:@color-4;
	.title{
		margin-bottom: 50px;
		margin-top: -15px;
	}	
}



/* ==========================================================================
   Showcase Section
   ========================================================================== */
#showcase{
	background:@color-7;
	#shots{
		.item{
			margin:13px;
			img{
        		width: 100%;
        		height: auto;
        		.round(3px);		        		
			}
		}
		
	}
	.owl-controls{
			.owl-page{
				span{
					// Change owl prev-next color
				}
			}
			.active{
				span{
					background: @color-2;
				}
			}
		}
}


/* ==========================================================================
   Statistics Section
   ========================================================================== */

#statistics{
	background: @color-4;
	.counter{
		font-size: 40px;
		line-height: 48px;
		color:@color-2;
		text-align:center;
		font-weight: 700;
	}
	.count{
		font-size: 16px;
		line-height: 28px;
		text-transform:uppercase;
		color:@color-3;
	}
	.counter-line{
		display:block;
		margin:0 auto;
		width:127px;
		height:8px;
		.round(5px);
		background:@color-1;
	}
}

/* ==========================================================================
   Testimonials Section
   ========================================================================== */

#testimonials{
	.overlay{
	width: 100%;
	height: auto;
	background:rgba(34,34,34,.65);
	padding:100px 0px;
		#feedbacks{			
			.preview{
				max-width: 750px;
				margin:auto;
				.preview-image{
					display:block;
					margin:auto;
					width:100px;
					height:100px;
					margin-bottom: 25px;
					img{
						border:2px solid @color-4;
					}
				}
				p{
					color:@color-4;
					text-align: center;
				}

				
				.name{
					
					font-size:18px;
					line-height: 36px;
					font-weight: 400;
					text-align: center;
					color:@color-4;
					margin-top: 15px;
				}
			}

			.owl-controls{
				span{
					background: @color-4;
				}

				.active{
					span{
						background:@color-4;
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Services Section
   ========================================================================== */

#services{
	background:@color-7;
	.service-box{
		background:@color-4;
		border-bottom:3px solid @color-6;
		padding:30px 10px;
		margin-bottom: 15px;
		.service-icon{
			text-align: center;
			padding-top: 30px;
			i{
				color:@color-1;
				
			}
		}

	  .service-title{
	  	h3{
	  		text-align:center;
	  	}
	  }
	  .service-text{
	  	p{
	  		padding:8px;
	  		text-align: center;
	  	}
	  }
	}
}

/* ==========================================================================
   Pricing Section
   ========================================================================== */

#pricing{
	background:@color-4;
	.pricing-box{
		background:@color-7;
		margin-bottom: 15px;
		.pricing-header{
			display: block;
			.clearfix();
			padding-bottom: 20px;
			.pricing-heading{
				text-align:right;
				float:right;
				margin-right: 20px;
				h3{
					float:right;
					font-weight: 300;
					text-transform: uppercase;
					
				}
				.price{
				
					.money{
						
						font-size: 60px;
						line-height: 72px;
						padding-top: 36px;
						font-weight: 700;
						span.dolar{
							padding-top: -20px !important;
							color:inherit;
							font-size: 20px;
							line-height: 30px;
							position: relative;
							top:-30px;
							font-weight: 400;

						}
					}
				}
			}


		}

		.pricing-list{
			
			li{
				
				border-bottom:1px solid @color-9;
				margin:15px 0px;
  				padding-bottom: 5px;
  				font-size: 18px;
  				line-height: 27px;
				i{
					vertical-align:middle;
					color:@color-1;
					margin-right: 10px;
					text-align:left;
					margin-left: 20px;
					margin-top: -5px;
				}
				&:last-child{
					border:none;
					padding-bottom: 10px;
				}
			}
		}
	}
}
	


/* ==========================================================================
   Extra Section
   ========================================================================== */
#extra{
	background:@color-7;
	ul.eg-tab{
		border:none;
		display: table;
		margin: 0 auto 60px;

		li{
			margin-right: 7px;
			margin: auto;
			
			a{
				display:inline-block;
				font-size: 14px;
				line-height: 30px;
				color:@color-4;
				text-align:center;
				background:@color-1;
				min-width:200px;
				border:none;
				text-transform: uppercase;
				margin-right: 10px;
				.round(2px);
				.transition(all,.3s,ease);
				&:hover{
					background:@color-4;
					color:@color-1;
				}
				i{
					vertical-align:middle;
					text-align: center;
					margin-right: 10px;
				}

			}

		}

		li.active{
			a{
				background:@color-4;
				color:@color-1;
			}
		}

		


	}

	.tab-content{
		.eg-tab-title{
			h3{
				font-size: 30px;
				line-height: 40px;
				font-weight: 300;
			}
		}
	}
	
	
	#accordion{
		.panel{
			background: transparent;
			border:none;
			.box-shadow(none);
			.panel-heading{
			background: transparent;
			border:none;

			.panel-title{
				background: transparent;
				
				
				a{
					font-size: 18px;
					line-height: 33px;
					text-decoration: none;
					color:@color-2;
					i{
						vertical-align: middle;
						color:@color-1;
						margin-right: 10px;
						margin-top: -5px;	
					}
				}
				
			}
			
		}

		.panel-body{
			border: none;

		}
		}
	}
}





/* ==========================================================================
   Download Section
   ========================================================================== */

#download{
	.overlay{
	width: 100%;
	height: auto;
	background:rgba(34,34,34,.65);
	padding:100px 0px;
	text-align: center;
	.title{
		p{
			color:@color-4;
		}
	}
	.download-field{
		text-align: center;
		margin-bottom: 60px;
		.download-buttons{
			.dwn-btn{
				display:inline-block;
				font-size: 14px;
				line-height: 30px;
				text-align: center;
				margin-right: 10px;
				margin-bottom: 15px;
				i{
					vertical-align:middle;
					line-height: 1;
					margin-top: -5px;
			
				}
			}
		}
	}

	.subscription-text{
		margin-bottom: 50px;
	}
	.form{
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 40px;
		#subscribe-form{

			.subscribe-input{
				width: 320px;
				height: 52px;
				border: none;
				.box-shadow(none);
				.round(2px);
				color:@color-3;
				border:1px solid @color-4;

			}
			
			.placeholder(@color-3);

			.eg-button{
				margin-top: 0px;
				min-width: 120px !important;
				margin-left: 5px;
				.round(2px);
			}
		}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																					

	}

	
	}
}






/* ==========================================================================
   Contact Section
   ========================================================================== */

#contact{
	background: @color-4;
	#contact-form{
		.input-field{
			border:1px solid @color-8;
			color:@color-3;
			height:50px;
			.box-shadow(none);
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.text-area{
			border:1px solid @color-8;
			color:@color-3;
			margin-top: 20px;
    		margin-bottom: 20px;
    		.box-shadow(none);
		}

		.placeholder(@color-3);

		.eg-button{
			margin:0 auto;
			display: block;
		}
	}
}



/* ==========================================================================
   Footer Section
   ========================================================================== */
#footer{
	background:@color-7;
	text-align: center;
	padding:30px 0px;
	p.copyright{
		padding-top: 45px;
	}
	ul.social-icons{
		padding-bottom: 20px;
		li{
			display:inline-block;
			margin: 7px;
			a{
				display:block;
				font-size: 24px;
				color:@color-2;
				.transition(all,.3s,ease);
				&:hover{
					color:@color-1;
				}
			}
		}
	}
}



.back-to-top{
	 display: block;
	 text-align: center;
	 border:1px solid @color-1; 
	 background: @color-1; 
	 color: @color-4; 
	 display: none; 
	 width: 40px; 
	 height: 40px;
	 .round(2px); 
	 line-height: 40px; 
	 font-size: 12px;
	 position: fixed; 
	 right: 20px; 
	 bottom: 20px; 
	 opacity: 1; 
	 cursor: pointer; 
	 z-index: 9999;
	 .transition(all,.5s,ease);
	 &:hover{
	 	opacity: 1;
	 	background: none;
	 	color:@color-1;
	 	i{
	 		color:@color-1;
	 	}
	 }
	 i{
	 	color:@color-4;
	 }
}



@media (max-width:1024px){

	
	#home{
		.overlay{
			.home-content{
				margin-bottom: 150px;
			}
			a.down{
				display: none;
			}
		}
	}
	
}

@media (max-width:991px){
	
	#header{
		.navbar{
			.nav-logo{
				display:none;
			}

			ul.nav{
				li{
					a{
						font-size:12px;
					}
				}
			}
		}
	}

	#home{
		
		.overlay{
			text-align: center;
			.home-content{
				.home-buttons{
					.btn{
						margin:5px 3px;
					}
				}
			}
		}
	}
    
	#features{
		.features-phone{
			max-width: 600px;
			display:block;
			margin:50px auto;
		}
	}
    #brief{
    	.brief-list{
    		margin-bottom: 60px;
    	}
    }

	#video{
		text-align: center;
		.title{
			margin-top: 50px;
			.sub-heading{
				text-align: center !important;
			}
		}
	}
	#extra{
		.tab-phone{
			display:block;
			margin:0 auto;
		}
	}
	
}

@media (max-width:767px){
	#header{
		.navbar-collapse{	
			border-top:none;
    		.box-shadow(none);
    		margin-top: 15px;
    		
		}
		.navbar{
			background:rgba(255, 255, 255, 0.9);
			.nav-logo{
				display:block;
			}
			.navbar-toggle{
				margin-top: 10px;
				right:-50px;	
			}
			ul{
				li{
					a{
						font-size: 12px;
						line-height: 24px;
					}
				}
			}
			
		}
	}

	#home{
		.overlay{
			.home-content{
				.home-title{
					font-size: 45px;
					line-height: 54px;
				}
			}
		}
	}

	#extra{
		ul.eg-tab{
			width:100%;
			li{
				display:block;
				width:100%;
				float:none;
				margin-bottom: 10px;
				a{
					width:100%;
				}
			}
		}
	}
	#download{
		.form{
			#subscribe-form{
				.subscribe-input{
					display:block;
					margin:0 auto 20px;
					width:80% !important;
				}
		}
		}
	}
}


@media (min-width:320px) and (max-width:480px){
	#header{
		.navbar{
			.menu-button{
				margin-top:4px;
			}			
		}
	}

	#home{
		.overlay{
			.home-content{
				margin-top: 40px;
				margin-bottom: 80px;
				.home-title{
					font-size: 36px;
					line-height: 45px;
				}
			}
		}
	}
	#features{
		.features-phone{
			display:none;
		}

		.features{
			margin-top: -50px;
			top:100px;
		}
	}
	
	#brief{

		.phone-slider{
			width:280px;
			#owl-slider{
				width:265px;
				padding-top: 100px;
				padding-left:15px;
				.box-sizing(); 
				.item{
					
					img{
						width:100%;
					}
				}
			}
		}
		ul.brief-list{
			margin-bottom: 50px;
		}
	}

	.back-to-top{
		display:none !important;
	}


}


@media (max-width:320px){
	#brief{
		.phone-navigation{
			display:none;
		}
	}
}


